html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    background-color: rgb(30, 39, 39);
    background-image: url("../images/background.png");
    color: floralwhite;
    font-family: 'Ubuntu', sans-serif;
}



